* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

img {
	max-width: 100%;
	height: auto;

}
.wrapper {
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1265px;
	
}

/*Черный баннер с меню (красный ховер)*/

.header {
	background: #f6f2f2;
}

.banner__nav {
	height: 90px;
	background: #313030;
	display: flex;
	justify-content: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header__wrap {
	padding: 30px 0;
}


.header__nav__ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: 100%;
}

.header__nav__item a {
	color: #fff;
	padding: 0 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 14px;
}

.header__nav__item a {
	display: flex;
	height: 100%;
	align-items: center;
}

.header__nav__item a:hover {
	background: #ff3f40;
}

/*конец хедера*/

.sect__video {
	padding-bottom: 112px;
	background: #f6f2f2;
}
.sect__video__wrap {
	display: flex;
	justify-content: space-between;
	
}

.video__right {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 550px;
	height: 350px;
}

.organais {
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 73px;
	letter-spacing: 3px;
	padding-bottom: 23px;

}


.info__left--micro {
	font-family: Open Sans;
	font-size: 14px;
	color: #000;
	line-height: 24px;
}


.shariy {
	width: 550px;
	height: 350px;
	object-fit: fill; /*новое некроссбраузерное свойство*/
}

.but__hold {
	padding-top: 60px;
}

.button {
	outline: none;
	border: 0;
	height: 60px;
	width: 230px;
	background: #ff2d2d;
	border-radius: 6px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}


.button {
	text-decoration: none;
	color: #fff;
}

.button:hover {
	background-color: #e64437;
}

.button:active {
	background-color: #b81609;
}


.prov__wrap {
	display: flex;
	justify-content: space-between;
	padding-top: 87px;
	padding-bottom: 55px;
	border-bottom: 2px #ececec solid;

}

.provide {
	font-size: 42px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	line-height: 50px;
	letter-spacing: 3px;
	padding-bottom: 23px;
}

.provide_text {
	text-align: left;
	line-height: 24px;
}

.prov__right {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 50%;
}

.prov__left {
	width: 50%;
}


.red {
	color: #ff3b4a;
	font-size: 40px;
}

.flex_ro {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 0 20px 50px 20px;
}	


.title_prof {
	font-size: 24px;
	color: #000;
	font-weight: 600;
	padding-top: 25px;
	padding-bottom: 11px;
}
 
.text_prof {
	color: #000;
} 

.but__hold_left {
	padding-top: 60px;
}

.button_left {
	outline: none;
	border: 2px solid #ff2d2d;
	height: 60px;
	width: 230px;
	background: #fff;
	border-radius: 6px;
	font-weight: bold;
	font-size: 18px;
	color: #ff2d2d;
	cursor: pointer;
}

.button_left:hover {
	background-color: #ff6600;
}

.button_left:active {
	background-color: #ffcc99;
}



.prod_title {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
}

.all_big {
	font-family: Open Sans;
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 18px;
}


.prod_title__small {
	font-family: Open Sans;
	font-size: 16px;
	text-align: center;
	line-height: 29px;
	padding-bottom: 26px;
}

.prod_title__small {
  position: relative;
  /*z-index : 1;*/
  /*margin-bottom: 85px;*/
}

.prod_title__small:before {
  content : "";
  position: absolute;
  left: 39%;
  bottom  : 0;
  /*height  : 1px;*/
  width   : 24%;  /* or 100px */
  border-bottom: 3px #ff3b3b solid;
}

.prod__nav {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	font-size: 22px;
	font-weight: 600;
	
}

.prod__nav_item a {
	text-decoration: none;
	text-transform: uppercase;
	
}

.prod__nav_item.active {
	color: #ff2d2d;
}

.tab__pic {
	display: flex;
	flex-wrap: wrap;
	margin: 50px -15px 0 -15px;
}

.tab__pic__image {
	padding: 10px;
    width: 25%;
}






 .team_wrap__up__meet_team {
	display: flex;
    flex-direction: column;

    padding: 90px 0;
}


.team_wrap__up__meet_team__small {
	font-family: Open Sans;
	font-size: 16px;
	text-align: left;
	line-height: 29px;
	padding-bottom: 26px;
}

.team_wrap__up__meet_team__small {
  position: relative;
  /*z-index : 1;*/
  /*margin-bottom: 85px;*/
}

.team_wrap__up__meet_team__small:before {
  content : "";
  position: absolute;
  left: 0%;
  bottom  : 0;
  /*height  : 1px;*/
  width   : 11%;  /* or 100px */
  border-bottom: 3px #ff3b3b solid;
}

.team_wrap__down{
	display: flex;
	padding-bottom: 120px;
}

.team_wrap__down__wrapper {
	padding-left: 70px;
}

.team_wrap__down__auther_big {
	font-size: 30px;
    color: #000;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.team_wrap__down__auther {
	display: flex;
	flex-direction: column;
}

.team_wrap__down__auther_small {
	text-align: left;
	padding-bottom: 35px;
	font-size: 16px;
	line-height: 29px;
}

.team_wrap__down__social a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}	


.team_wrap__down__social {
	margin: 0 -15px 0 -15px;
}

.team_wrap__down__social a {
	 padding: 0 15px 0 15px;
}


.team_wrap__down__image {
	display: flex;
	margin: 0 -10px 0 -10px;
	padding-top: 60px;

}

	/*Выплывающая подсказка на картинке при наведении*/

.team_wrap__down__image__pic {
	padding: 0 10px 0 10px;
	position: relative;
}

.image-caption {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	left: 10px;
    right: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0;
    /*/*display: none;*/  /*если без анимации*/
    opacity: 0; /*прозрачный*/
    transition-duration: 0.9s;
}

.team_wrap__down__image__pic img {
	display: block;
}

.team_wrap__down__image__pic:hover .image-caption {
	/*display: block;*/
	opacity: 1;  /*непрозрачный*/

}


.sub_wrap {
	background: #f5f0dd;
}



.sub_wrap__tips {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 140px;
}

.sub_wrap__tips__title {
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding-bottom: 20px;
}

.sub_wrap__tips__title--small {
	color: #fff;
	font-size: 16px;
}

.sub_inputs {
	display: flex;
	justify-content: center;
	padding-top: 63px;
	padding-bottom: 143px;
}

.inpt_bal {
	Border: none; 
	outline: none;
	width: 520px;
	height: 80px;
	font-size: 16px;
	padding-left: 35px;
	border-radius: 6px;
}

.but__hold__sub {
	padding-left: 30px;
}

.button_sub {
	outline: none;
	border: 0;
	height: 80px;
	width: 215px;
	background: #ff2d2d;
	border-radius: 6px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}


.button {
	text-decoration: none;
	color: #fff;
}

.button_sub:hover {
	background-color: #e64437;
}

.button_sub:active {
	background-color: #b81609;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */

.inpt_bal::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.inpt_bal::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.inpt_bal:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.inpt_bal:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.inpt_bal:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.inpt_bal:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.inpt_bal:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.inpt_bal:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.message__wrap {
	display: flex;
}

.mess_left__title {
	display: flex;
	flex-direction: column;
}

.mess_left {
	width: 100%;
}




.input_name {
	background: #e5e5e5;
	width: 340px;
	height: 65px;
	border-radius: 10px;
}

.mess_left__form__input_all {
	display: flex;
}


.mess_left__title__tourch_light {
	padding-bottom: 50px;
}
.mess_left__form__email {
	padding-left: 55px;
}

.mess_left__form__message__mess {
	background: #e5e5e5;
	width: 730px;
	height: 245px;
	border-radius: 10px;
	Border: none; 
	outline: none;
	padding-left: 55px;
    padding-top: 40px;
    padding-right: 55px;
    /* padding-bottom: 40px; */
    resize: none;
}

.mess_left__form__message {
	padding-top: 50px;
}
.inpt_mes{
	padding-bottom: 170px;
	font-size: 18px;
}

.button_sub__mess {
	padding-left: 0;
	text-transform: uppercase;
	width: 725px;
	height: 70px;
	
}
.but__hold__sub__mess {
	padding-left: 0;
	padding-top: 45px;
}

.all__forms {
	display: flex;
	padding-top: 75px;
}

.mess_right {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	background: #2d2d2d;
	margin-left: 110px;
}

.mess_right:before {
	content: "";
	position: absolute;
	background: #2d2d2d;
	top: 0;
    bottom: 0;
    width: 1000%;
    left: 100%;
}


.mess_right__title {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 75px;
}
.adr {
	color: #fff;
	font-size: 16px;
}

.contacts {
	list-style-type: none;
}

.contacts li {
	padding: 20px 0 20px 75px;
}

